<!--购房能力计算器-->
<script type="text/javascript">
    $(document).ready(function() {
        var spouse_monthly_deposit = $('#spouse-for-monthly-deposit');
        $("input[name='marital-status']")
                .bootstrapSwitch({
                    onText: 'Single',
                    offText: 'Married',
                    size:'normal',
                    onColor:'primary',
                    offColor:'info'
                })
                .on('switchChange.bootstrapSwitch', function(event, state) {
                    if(state){
                        spouse_monthly_deposit.addClass('hide in');

                    }else {
                        spouse_monthly_deposit.removeClass('hide in');
                    }
                })
                .end();
        $("[name='room-type']").bootstrapSwitch({
            //等额本息
            onText: 'Policy-related',
            //等额本金
            offText: 'Other',
            size:'normal',
            onColor:'primary',
            offColor:'info'
        });
        $('#homeAffordabilityCalculatedForm')
                .bootstrapValidator({
                    message: 'This value is not valid',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        username: {
                            message: 'The username is not valid',
                            validators: {
                                notEmpty: {
                                    message: 'The username is required and can\'t be empty'
                                },
                                stringLength: {
                                    min: 6,
                                    max: 30,
                                    message: 'The username must be more than 6 and less than 30 characters long'
                                },
                                /*remote: {
                                 url: 'remote.php',
                                 message: 'The username is not available'
                                 },*/
                                regexp: {
                                    regexp: /^[a-zA-Z0-9_\.]+$/,
                                    message: 'The username can only consist of alphabetical, number, dot and underscore'
                                }
                            }
                        },
                        email: {
                            validators: {
                                notEmpty: {
                                    message: 'The email address is required and can\'t be empty'
                                },
                                emailAddress: {
                                    message: 'The input is not a valid email address'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: 'The password is required and can\'t be empty'
                                }
                            }
                        }
                    }
                })
                .on('success.form.bv', function(e) {
                    // Prevent form submission
                    e.preventDefault();
                    $("body").mLoading({
                        text:"Calculating ...",//加载文字，默认值：加载中...
                        //icon:"",//加载图标，默认值：一个小型的base64的gif图片
                        html:false,//设置加载内容是否是html格式，默认值是false
                        content:"",//忽略icon和text的值，直接在加载框中显示此值
                        mask:true//是否显示遮罩效果，默认显示
                    });
                    // Get the form instance
                    var $form = $(e.target);

                    // Get the BootstrapValidator instance
                    var bv = $form.data('bootstrapValidator');

                    // Use Ajax to submit form data
                    $.post($form.attr('action'), $form.serialize(), function(result) {
                        console.log('the result is: ');
                        console.log(result);
                        $("body").mLoading("hide");
                        $("#ShowHomeAffordabilityCalculateResult").modal('show');
                    }, 'json');
                });
    });

</script>
<form id="homeAffordabilityCalculatedForm" class="form-horizontal" action="{{ url_for('main.calculate_home_affordability') }}" method="post">
    <div class="panel panel-default">
        <div class="panel-heading text-center"><h3>{{ _('Home Affordability Calculation') }}</h3></div>
        <!--现持有资金-->
        <div class="form-group" data-toggle="tooltip" title="Your Cash" style="margin-top: 20px;">
            <label for="inputYourCash" class="col-sm-2 control-label">{{ _('Your Cash') }}</label>
            <div class="col-sm-7">
                <div class="input-group">
                <input type="text" class="form-control" id="inputYourCash" name="your-cash" aria-describedby="inputYourCash-Addon">
                    <span class="input-group-addon" id="inputYourCash-Addon">{{ _('Yuan') }}</span>
            </div>
            </div>
        </div>

        <!--现家庭月收入-->
        <div class="form-group" data-toggle="tooltip" title="Family Monthly Income">
            <label for="inputFamilyMonthlyIncome" class="col-sm-2 control-label">{{ _('Family Monthly Income') }}</label>
            <div class="col-sm-7">
                <div class="input-group">
                <input type="text" class="form-control" id="inputFamilyMonthlyIncome" name="family-monthly-income" aria-describedby="inputFamilyMonthlyIncome-Addon">
                    <span class="input-group-addon" id="inputFamilyMonthlyIncome-Addon">{{ _('Yuan') }}</span>
            </div>
            </div>
        </div>
        <!--家庭平均每月固定支出-->
        <div class="form-group" data-toggle="tooltip" title="Family Monthly Spending">
            <label for="inputFamilyMonthlySpending" class="col-sm-2 control-label">{{ _('Family Monthly Spending') }}</label>
            <div class="col-sm-7">
                <div class="input-group">
                <input type="text" class="form-control" id="inputFamilyMonthlySpending" name="family-monthly-spending" aria-describedby="inputFamilyMonthlySpending-Addon">
                    <span class="input-group-addon" id="inputFamilyMonthlySpending-Addon">{{ _('Yuan') }}</span>
            </div>
            </div>
        </div>
        <!--贷款年限-->
        <div class="form-group" data-toggle="tooltip" title="Repay Loan Period">
            <label for="inputRepayLoanPeriod" class="col-sm-2 control-label">{{ _('Repay Loan Period') }}</label>
            <div class="col-sm-9">
                <select class="selectpicker" data-live-search="true" id="inputRepayLoanPeriod" name="repay-loan-period">
                    <option data-tokens="ketchup mustard">20 {{ _('Year') }} (240 {{ _('Periods') }})</option>
                    <option data-tokens="mustard">10 {{ _('Year') }} (120 {{ _('Periods') }})</option>
                    <option data-tokens="frosting">2 {{ _('Year') }} (60 {{ _('Periods') }})</option>
                </select>
            </div>
        </div>

        <!--计划购买房屋的面积-->
        <div class="form-group" data-toggle="tooltip" title="House Purchase Area">
            <label for="inputHousePurchaseArea" class="col-sm-2 control-label">{{ _('House Purchase Area') }}</label>
            <div class="col-sm-7">
                <div class="input-group">
                <input type="text" class="form-control" id="inputHousePurchaseArea" name="house-purchase-area" aria-describedby="inputHousePurchaseArea-Addon">
                    <span class="input-group-addon" id="inputHousePurchaseArea-Addon">{{ _('Square Meter') }}</span>
            </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-9">
                    <div class="btn-toolbar pull-right">
                        <button type="reset" class="btn btn-primary">{{ _('Reset') }}</button>
                        <button type="submit" class="btn btn-primary">{{ _('Calculate') }}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

<!-- 计算结果模块 -->
<div class="modal fade" id="ShowHomeAffordabilityCalculateResult" tabindex="-1" role="dialog" aria-labelledby="Show The Result Of Calculation">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ _('Show The Result Of Calculation') }}</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group row">
                            <label for="inputTheMaxPurchaseArea" class="col-sm-3 control-label">{{ _('The Max Purchase Area') }}</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                <input type="text" readonly class="form-control" id="inputTheMaxPurchaseArea" name="the-max-purchase-area" aria-describedby="inputTheMaxPurchaseArea-Addon">
                                    <span class="input-group-addon" id="inputTheMaxPurchaseArea-Addon">{{ _('Square Meter') }}</span>
                            </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputTheHouseUnitPrice" class="col-sm-3 control-label">{{ _('The House Unit Price') }}</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                <input type="text" readonly class="form-control" id="inputTheHouseUnitPrice" name="the-house-unit-price" aria-describedby="inputTheHouseUnitPrice-Addon">
                                    <span class="input-group-addon" id="inputTheHouseUnitPrice-Addon">{{ _('Yuan') }} / {{ _('Square Meter') }}</span>
                            </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputTheMaxPurchaseArea" class="col-sm-3 control-label">{{ _('The Purchase Home Total Price ') }}</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                <input type="text" readonly class="form-control" id="inputThePurchaseHomeTotalPrice" name="the-purchase-home-total-price" aria-describedby="inputThePurchaseHomeTotalPrice-Addon">
                                    <span class="input-group-addon" id="inputThePurchaseHomeTotalPrice-Addon">{{ _('Yuan') }}</span>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
                <div class="export btn-group dropup">
                    <button class="btn btn-default dropdown-toggle" aria-label="export type" title="Export data" data-toggle="dropdown" type="button">
                        <i class="glyphicon glyphicon-export icon-share"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="menuitem" data-type="pdf"><a href="javascript:void(0)">PDF</a></li>
                        <li role="menuitem" data-type="word"><a href="javascript:void(0)">Word</a></li>
                        <li role="menuitem" data-type="txt"><a href="javascript:void(0)">TXT</a></li>
                        <li role="menuitem" data-type="json"><a href="javascript:void(0)">JSON</a></li>
                        <li role="menuitem" data-type="excel"><a href="javascript:void(0)">MS-Excel</a></li>
                        <li role="menuitem" data-type="xml"><a href="javascript:void(0)">XML</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>