<!--提前还款计算器-->
<script type="text/javascript">
    $(document).ready(function() {
        $("input[name='prepayment-loan-mode']")
                .bootstrapSwitch({
                    size:'normal',
                    onColor:'primary',
                    offColor:'info'
                });
        $("input[name='prepayment-mode']")
                .bootstrapSwitch({
                    size:'normal',
                    onColor:'primary',
                    offColor:'info'
                })
                .on('switchChange.bootstrapSwitch', function(event, state) {
                    var prepayment_part_loan_money = $('#prepayment-part-loan');
                    if(state){
                        prepayment_part_loan_money.addClass('hide in');

                    }else {
                        prepayment_part_loan_money.removeClass('hide in');
                    }
                })
                .end();
        $("[name='handle-mode']").bootstrapSwitch({
            size:'normal',
            onColor:'primary',
            offColor:'info',
            handleWidth:200
        });
        $('#prepaymentCalculatedForm')
                .bootstrapValidator({
                    message: 'This value is not valid',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        username: {
                            message: 'The username is not valid',
                            validators: {
                                notEmpty: {
                                    message: 'The username is required and can\'t be empty'
                                },
                                stringLength: {
                                    min: 6,
                                    max: 30,
                                    message: 'The username must be more than 6 and less than 30 characters long'
                                },
                                /*remote: {
                                 url: 'remote.php',
                                 message: 'The username is not available'
                                 },*/
                                regexp: {
                                    regexp: /^[a-zA-Z0-9_\.]+$/,
                                    message: 'The username can only consist of alphabetical, number, dot and underscore'
                                }
                            }
                        },
                        email: {
                            validators: {
                                notEmpty: {
                                    message: 'The email address is required and can\'t be empty'
                                },
                                emailAddress: {
                                    message: 'The input is not a valid email address'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: 'The password is required and can\'t be empty'
                                }
                            }
                        }
                    }
                })
                .on('success.form.bv', function(e) {
                    // Prevent form submission
                    e.preventDefault();
                    $("body").mLoading({
                        text:"Calculating ...",//加载文字，默认值：加载中...
                        //icon:"",//加载图标，默认值：一个小型的base64的gif图片
                        html:false,//设置加载内容是否是html格式，默认值是false
                        content:"",//忽略icon和text的值，直接在加载框中显示此值
                        mask:true//是否显示遮罩效果，默认显示
                    });
                    // Get the form instance
                    var $form = $(e.target);

                    // Get the BootstrapValidator instance
                    var bv = $form.data('bootstrapValidator');

                    // Use Ajax to submit form data
                    $.post($form.attr('action'), $form.serialize(), function(result) {
                        console.log('the result is: ');
                        console.log(result);
                        $("body").mLoading("hide");
                        $("#ShowHomeAffordabilityCalculateResult").modal('show');
                    }, 'json');
                });
    });

</script>
<form id="prepaymentCalculatedForm" class="form-horizontal" action="{{ url_for('main.calculate_prepayment') }}" method="post">
    <div class="panel panel-default">
        <div class="panel-heading text-center"><h3>{{ _('Prepayment Calculation') }}</h3></div>
        <!--贷款类型-->
        <div class="form-group" data-toggle="tooltip" title="Loan Mode" style="margin-top: 20px;">
            <label for="inputPrepaymentLoanMode" class="col-sm-2 control-label">{{ _('Loan Mode') }}</label>
            <div class="col-sm-9">
                <input id="inputPrepaymentLoanMode" name="prepayment-loan-mode" checked type="checkbox" data-on-text="{{ _('Commercial') }}{{ _('Loan') }}" data-off-text="{{ _('Fund') }}{{ _('Loan') }}" />
            </div>
        </div>

        <!--原贷款金额-->
        <div class="form-group" data-toggle="tooltip" title="Original Loan Principal">
            <label for="inputPrepaymentOriginalLoanPrincipal" class="col-sm-2 control-label">{{ _('Original Loan Principal') }}</label>
            <div class="col-sm-5">
                <div class="input-group">
                    <input type="text" class="form-control" id="inputPrepaymentOriginalLoanPrincipal" name="original-loan-principal" aria-describedby="inputPrepaymentOriginalLoanPrincipal-Addon">
                    <span class="input-group-addon" id="inputPrepaymentOriginalLoanPrincipal-Addon">{{ _('Yuan') }}</span>
                </div>
            </div>
        </div>
        <!--原贷款年限-->
        <div class="form-group" data-toggle="tooltip" title="Original Loan Period">
            <label for="inputPrepaymentOriginalLoanPeriod" class="col-sm-2 control-label">{{ _('Original Loan Period') }}</label>
            <div class="col-sm-9">
                <select class="selectpicker" data-live-search="true" id="inputPrepaymentOriginalLoanPeriod" name="original-loan-period">
                    <option data-tokens="ketchup mustard">20 {{ _('Year') }} (240 {{ _('Periods') }})</option>
                    <option data-tokens="mustard">10 {{ _('Year') }} (120 {{ _('Periods') }})</option>
                    <option data-tokens="frosting">2 {{ _('Year') }} (60 {{ _('Periods') }})</option>
                </select>
            </div>
        </div>
        <div class="form-group" data-toggle="tooltip" title="Original Loan Period">
            <label for="inputPrepaymentOriginalLoanPeriod" class="col-sm-2 control-label">{{ _('Loan Period') }}</label>
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!--第一次还款时间-->
                        <div class="form-group" data-toggle="tooltip" title="Original Loan Period">
                            <label for="inputPrepaymentFirstRepayment" class="col-sm-3 control-label">{{ _('First Repayment') }}</label>
                            <div class="col-sm-6">
                                <div class="input-group" id="inputPrepaymentFirstRepayment">
                                    <select class="selectpicker" data-live-search="true" name="first-repayment-year">
                                        <option data-tokens="2017">2017</option>
                                        <option data-tokens="2016">2016</option>
                                        <option data-tokens="2015">2015</option>
                                        <option data-tokens="2014">2014</option>
                                    </select>
                                    <span class="input-group-addon">{{ _('Year') }}</span>
                                    <select class="selectpicker" data-live-search="true" name="first-repayment-month">
                                        <option data-tokens="1">1</option>
                                        <option data-tokens="2">2</option>
                                        <option data-tokens="3">3</option>
                                        <option data-tokens="4">4</option>
                                        <option data-tokens="5">5</option>
                                        <option data-tokens="6">6</option>
                                        <option data-tokens="7">7</option>
                                        <option data-tokens="8">8</option>
                                        <option data-tokens="9">9</option>
                                        <option data-tokens="10">10</option>
                                        <option data-tokens="11">11</option>
                                        <option data-tokens="12">12</option>
                                    </select>
                                    <span class="input-group-addon">{{ _('Month') }}</span>
                                </div>

                            </div>
                        </div>
                        <!--预计提前还款时间-->
                        <div class="form-group" data-toggle="tooltip" title="Original Loan Period">
                            <label for="inputPrepaymentExpectedToPrepayment" class="col-sm-3 control-label">{{ _('Expected Prepayment') }}</label>
                            <div class="col-sm-6">
                                <div class="input-group" id="inputPrepaymentExpectedToPrepayment">
                                    <select class="selectpicker" data-live-search="true" name="expected-to-prepayment-year">
                                        <option data-tokens="2017">2017</option>
                                        <option data-tokens="2016">2016</option>
                                        <option data-tokens="2015">2015</option>
                                        <option data-tokens="2014">2014</option>
                                    </select>
                                    <span class="input-group-addon">{{ _('Year') }}</span>
                                    <select class="selectpicker" data-live-search="true" name="expected-to-prepayment-month">
                                        <option data-tokens="1">1</option>
                                        <option data-tokens="2">2</option>
                                        <option data-tokens="3">3</option>
                                        <option data-tokens="4">4</option>
                                        <option data-tokens="5">5</option>
                                        <option data-tokens="6">6</option>
                                        <option data-tokens="7">7</option>
                                        <option data-tokens="8">8</option>
                                        <option data-tokens="9">9</option>
                                        <option data-tokens="10">10</option>
                                        <option data-tokens="11">11</option>
                                        <option data-tokens="12">12</option>
                                    </select>
                                    <span class="input-group-addon">{{ _('Month') }}</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--提前还款方式-->
        <div class="form-group" data-toggle="tooltip" title="Prepayment Mode">
            <label for="inputPrepaymentMode" class="col-sm-2 control-label">{{ _('Prepayment Mode') }}</label>
            <div class="col-sm-9">
                <input id="inputPrepaymentMode" name="prepayment-mode" checked type="checkbox" data-on-text="{{ _('All') }}" data-off-text="{{ _('Part') }}" />
            </div>
        </div>
        <!--部分提前还款-->
        <div class="form-group hide" id="prepayment-part-loan">
            <div class="col-sm-offset-2 col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group" data-toggle="tooltip" title="Prepayment Money">
                            <label for="inputPrepaymentMoney" class="col-sm-3 control-label">{{ _('Prepayment Money') }}</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="inputPrepaymentMoney" name="prepayment-money" aria-describedby="inputPrepaymentMoney-Addon">
                                    <span class="input-group-addon" id="inputPrepaymentMoney-Addon">{{ _('Yuan') }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--处理方式-->
        <div class="form-group" data-toggle="tooltip" title="Handle Mode">
            <label for="inputPrepaymentHandleMode" class="col-sm-2 control-label">{{ _('Handle Mode') }}</label>
            <div class="col-sm-9">
                <input id="inputPrepaymentHandleMode" name="handle-mode" checked type="checkbox" data-on-text="{{ _('Short Repayment Period') }}" data-off-text="{{ _('Reduce Monthly Payment') }}" />
            </div>
        </div>

        <div class="panel-footer">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-9">
                    <div class="btn-toolbar pull-right">
                        <button type="reset" class="btn btn-primary">{{ _('Reset') }}</button>
                        <button type="submit" class="btn btn-primary">{{ _('Calculate') }}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

<!-- 计算结果模块 -->
<div class="modal fade" id="ShowPrepaymentCalculateResult" tabindex="-1" role="dialog" aria-labelledby="Show The Result Of Calculation">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ _('Show The Result Of Calculation') }}</h4>
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <label for="inputPrepaymentCalculatePaymentMoney" class="col-sm-3 control-label">{{ _('Past Monthly') }}{{ _('Payment Money') }}</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" readonly class="form-control" id="inputPrepaymentCalculatePaymentMoney" name="home-total-nums" aria-describedby="inputPrepaymentCalculatePaymentMoney-Addon">
                            <span class="input-group-addon" id="inputPrepaymentCalculatePaymentMoney-Addon">{{ _('Yuan') }}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputLoanTotalNumbers" class="col-sm-3 control-label">{{ _('Loan Total Nums') }}</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" readonly class="form-control" id="inputLoanTotalNumbers" name="loan-total-nums" aria-describedby="inputLoanTotalNumbers-Addon">
                            <span class="input-group-addon" id="inputLoanTotalNumbers-Addon">{{ _('Yuan') }}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputReplaymentTotalNumbers" class="col-sm-3 control-label">{{ _('Replayment Total Nums') }}</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" readonly class="form-control" id="inputReplaymentTotalNumbers" name="replayment-total-nums" aria-describedby="inputReplaymentTotalNumbers-Addon">
                            <span class="input-group-addon" id="inputReplaymentTotalNumbers-Addon">{{ _('Yuan') }}</span>
                        </div>

                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPaymentInterest" class="col-sm-3 control-label">{{ _('Payment Interest') }}</label>
                    <div class="col-sm-8">
                        <!--偿还利息-->
                        <div class="input-group">
                            <input type="text" readonly class="form-control" id="inputPaymentInterest" name="payment-interest" aria-describedby="inputPaymentInterest-Addon">
                            <span class="input-group-addon" id="inputPaymentInterest-Addon">{{ _('Yuan') }}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputInitialPayment" class="col-sm-3 control-label">{{ _('Initial Payment') }}</label>
                    <div class="col-sm-8">
                        <!--首期付款-->
                        <div class="input-group">
                            <input type="text" readonly class="form-control" id="inputInitialPayment" name="initial-payment" aria-describedby="inputInitialPayment-Addon">
                            <span class="input-group-addon" id="inputInitialPayment-Addon">{{ _('Yuan') }}</span>
                        </div>

                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputTermsDurationOfLoan" class="col-sm-3 control-label">{{ _('Terms Duration of Loan') }}</label>
                    <div class="col-sm-8">
                        <!--贷款月数-->
                        <input type="text" readonly class="form-control" id="inputTermsDurationOfLoan" name="terms-duration-of-loan">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputAverageMonthlyRepayment" class="col-sm-3 control-label">{{ _('Average Monthly Repayment') }}</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" readonly class="form-control" id="inputAverageMonthlyRepayment" name="average-monthly-repayment" aria-describedby="inputAverageMonthlyRepayment-Addon">
                            <span class="input-group-addon" id="inputAverageMonthlyRepayment-Addon">{{ _('Yuan') }}</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
                <div class="export btn-group dropup">
                    <button class="btn btn-default dropdown-toggle" aria-label="export type" title="Export data" data-toggle="dropdown" type="button">
                        <i class="glyphicon glyphicon-export icon-share"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="menuitem" data-type="pdf"><a href="javascript:void(0)">PDF</a></li>
                        <li role="menuitem" data-type="word"><a href="javascript:void(0)">Word</a></li>
                        <li role="menuitem" data-type="txt"><a href="javascript:void(0)">TXT</a></li>
                        <li role="menuitem" data-type="json"><a href="javascript:void(0)">JSON</a></li>
                        <li role="menuitem" data-type="excel"><a href="javascript:void(0)">MS-Excel</a></li>
                        <li role="menuitem" data-type="xml"><a href="javascript:void(0)">XML</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>